<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1 class="text-3xl font-bold mb-8">Notifikasi</h1>
      <div
        type="text"
        id="message"
        readonly
        class="px-4 font-semibold bg-blue-200 w-full max-w-md rounded-lg h-12"
      >
        
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      const message = document.getElementById("message");
      socket.on("message", (data) => {
        const p = document.createElement("p");
        p.style.color = "green";
        p.textContent = data;
        message.appendChild(p);
      });
      socket.on("message-fail", (data) => {
        const p = document.createElement("p");
        p.style.color = "red";
        p.textContent = data;
        message.appendChild(p);
      });
    </script>
  </body>
</html>
